In [1]:
pwd

'/home/todd/code/projects/finance/lift'

In [1]:
cd ../../../indeed_data_science_exercise/

/home/todd/code/indeed_data_science_exercise

In [3]:
ls

test_features_2013-03-07.csv   train_salaries_2013-03-07.csv
train_features_2013-03-07.csv

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [49]:
train_features = pd.read_csv('train_features_2013-03-07.csv')

In [50]:
train_salaries = pd.read_csv('train_salaries_2013-03-07.csv')

In [51]:
train_data = pd.merge(train_features, train_salaries, on='jobId', how='inner')

In [52]:
train_data.dropna(how='any', inplace=True)

In [53]:
train_data = train_data[train_data.salary != 0]

In [62]:
train_data.keys()

Index(['jobId', 'companyId', 'jobType', 'degree', 'major', 'industry',
       'yearsExperience', 'milesFromMetropolis', 'salary'],
      dtype='object')

In [74]:
mapping = {}

In [75]:
names = ['companyId', 'industry', 'major', 'jobType', 'degree']
for name in names:
    for i in enumerate(train_data[name].unique()):
        if name not in mapping.keys():
            mapping[name] = {i[1]: i[0]}
        else:
            mapping[name].update({i[1]: i[0]})

In [78]:
names = ['companyId', 'industry', 'major', 'jobType', 'degree']
for name in names:
    train_data[name] = train_data[name].replace(mapping[name])

In [80]:
train_data[:5]

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,salary
0,JOB1362684407687,0,0,0,0,0,10,83,130
1,JOB1362684407688,1,1,1,1,1,3,73,101
2,JOB1362684407689,2,2,2,2,0,10,38,137
3,JOB1362684407690,3,3,2,3,2,8,17,142
4,JOB1362684407691,4,2,3,2,3,8,16,163